<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>task board</title>
<link href="../../css/bootstrap.min.css" type="text/css" rel="stylesheet"/>  
<link href="../../css/main.css" type="text/css" rel="stylesheet"/> 
<link rel="stylesheet" type="text/css" href="../../css/font-icon.css">
<link href="../../css/jquery.circliful.css" rel="stylesheet" type="text/css" />
</head>
<body class="project vertical-scroll">
<div class="header" >
  <div id="logoPic" class="logo pull-left"></div>
    <div id="switchingProject" class="main-menue pull-left corner-6 project-select">
      <i class="icon-inbox"></i><a>project name<i class=" icon-down-open-big"></i></a>
    </div>

    <div class="right-function  pull-right">
      <ul>
        <li ><a href="#" id="createObj"><i class=" icon-plus"></i>新建</a></li>
          <li><a href="#" id="personaInfo"><img src="../../images/head-portraits.png" />moonstar<i class="icon-down-dir"></i></a></li>
      </ul>    
    </div>
</div>>
<div class="home-body-wrap boardBackground personal-task">
  <ul id="personalMenu" class="nav nav-tabs nav-justified">
       <li id="myTask"><a href="#">我的任务</a></li>
       <li id="myParticipateTask"><a href="#">我参与的任务</a></li>
       <li id="myActivity"><a href="#">我的动态</a></li>
  </ul>

  <div data-id="personalTemplate"></div>
</div>
<script type="text/javascript" src="../../plugins/require/require.js" data-main="../../script/framework/main.js" ></script>
</body>
</html>
